table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}
table, th, td {
    border: 6px solid brown;
    border-collapse: collapse;
}